[submodule "lib/commonlibsse-ng"]
	path = lib/commonlibsse-ng
	url = https://github.com/alandtse/CommonLibVR.git
	branch = ng
[submodule "lib/SRAL"]
	path = lib/SRAL
	url = https://github.com/m1maker/SRAL.git
